/**** Filter Formatter Elements ****/
.tablesorter-blue .tablesorter-filter-row td {
	text-align: center;
	font-size: 0.9em;
	font-weight: normal;
}

/**** Sliders ****/
/* shrink the ui sliders to look nicer inside of a table cell */
.ui-slider {
	width: 90%;
	margin: 12px auto 2px auto; /* add enough top margin so the tooltips will fit */
	font-size: 0.5em;
}
.ui-slider .ui-slider-handle{
	width: 0.8em;
	height: 0.8em;
}
.ui-datepicker {
	font-size: 0.8em;
}

/* Add tooltips to slider handles */
.value-popup:after {
	content : attr(data-value);
	position: absolute;
	bottom: 15px;
	left: -3px;
	min-width: 14px;
	height: 12px;
	background-color: #444;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#444444), to(#999999));
	background-image: -webkit-linear-gradient(top, #444, #999);
	background-image: -moz-linear-gradient(top, #444, #999);
	background-image: -o-linear-gradient(top, #444, #999);
	background-image: linear-gradient(to bottom, #444, #999);
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-webkit-background-clip: padding-box; background-clip: padding-box;
	-webkit-box-shadow: 0px 0px 4px 0px #777;
	box-shadow: 0px 0px 4px 0px #777;
	border: #444 1px solid;
	color: #fff;
	font: bold 0.8em/1em Arial;
	padding: 1px;
	text-align: center;
}
.value-popup:before {
	content: "";
	position: absolute;
	width: 0;
	height: 0;
	border-top: 8px solid #777;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	top: -8px;
	left: 50%;
	margin-left: -8px;
	margin-top: -1px;
}

/**** Date Picker ****/
.dateFrom, .dateTo {
	width: 80px;
	margin: 2px 5px;
}

/**** Color Picker Toggle button ****/
.button {
	width: 14px;
	height: 14px;
	background: #fcfff4;
	background: -webkit-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: -moz-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: -o-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: -ms-linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfff4', endColorstr='#b3bead',GradientType=0 );
	margin: 5px;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	border-radius: 25px;
	-webkit-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
	-moz-box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
	box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
	position: relative;
	display: inline-block;
}

.button label {
	cursor: pointer;
	position: absolute;
	width: 10px;
	height: 10px;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	border-radius: 25px;
	left: 2px;
	top: 2px;
	-webkit-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1);
	-moz-box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1);
	box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,1);
	background: -webkit-linear-gradient(top, #222 0%, #45484d 100%);
	background: -moz-linear-gradient(top, #222 0%, #45484d 100%);
	background: -o-linear-gradient(top, #222 0%, #45484d 100%);
	background: -ms-linear-gradient(top, #222 0%, #45484d 100%);
	background: linear-gradient(top, #222 0%, #45484d 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#222', endColorstr='#45484d',GradientType=0 );
}

.button label:after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
	opacity: 0;
	content: '';
	position: absolute;
	width: 8px;
	height: 8px;
	background: #00bf00;
	background: -webkit-linear-gradient(top, #aaf 0%, #55f 100%);
	background: -moz-linear-gradient(top, #aaf  0%, #55f 100%);
	background: -o-linear-gradient(top, #aaf  0%, #55f 100%);
	background: -ms-linear-gradient(top, #aaf  0%, #55f 100%);
	background: linear-gradient(top, #aaf  0%, #55f 100%);
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	border-radius: 25px;
	top: 1px;
	left: 1px;
	-webkit-box-shadow: inset 0px 1px 1px #fff, 0px 1px 3px rgba(0,0,0,0.5);
	-moz-box-shadow: inset 0px 1px 1px #fff, 0px 1px 3px rgba(0,0,0,0.5);
	box-shadow: inset 0px 1px 1px #fff, 0px 1px 3px rgba(0,0,0,0.5);
}

.button label:hover::after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
	opacity: 0.3;
}

.button input[type=checkbox] {
	visibility: hidden;
}

.button input[type=checkbox]:checked + label:after {
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
	opacity: 1;
}

.colorpicker {
	width: 30px;
	height: 18px;
}
.ui-spinner-input {
	width: 100px;
	height: 18px;
}
.currentColor, .ui-spinner {
	position: relative;
	top: -8px;
}
input.number {
	position: relative;
	top: -5px;
}
