# Auto detect text files and perform LF normalization
* text=auto

# Custom for Visual Studio
*.cs     diff=csharp
*.sln    merge=union
*.csproj merge=union
*.vbproj merge=union
*.fsproj merge=union
*.dbproj merge=union

# Standard to msysgit
*.doc  diff=astextplain
*.DOC  diff=astextplain
*.docx diff=astextplain
*.DOCX diff=astextplain
*.dot  diff=astextplain
*.DOT  diff=astextplain
*.pdf  diff=astextplain
*.PDF  diff=astextplain
*.rtf  diff=astextplain
*.RTF  diff=astextplain
*.md   diss=astextplain

# Exclude from export
/.git                   export-ignore
/addons                 export-ignore
/beta-testing           export-ignore
/css                    export-ignore
/docs                   export-ignore
/js                     export-ignore
/testing                export-ignore
.editorconfig           export-ignore
.eslintignore           export-ignore
.eslintrc               export-ignore
.gitattributes          export-ignore
.gitignore              export-ignore
.jscsrc                 export-ignore
.mailmap                export-ignore
AUTHORS                 export-ignore
bower.json              export-ignore
composer.json           export-ignore
CONTRIBUTING.md         export-ignore
example.json            export-ignore
Gruntfile.js            export-ignore
index.html              export-ignore
tablesorter.jquery.json export-ignore
test.html               export-ignore
