/* jQuery UI Theme */
table.tablesorter {
	font-family: arial;
	margin: 10px 0pt 15px;
	font-size: 8pt;
	width: 100%;
	text-align: left;
	padding: 5px;
}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
	border-collapse: collapse;
	font-size: 8pt;
	padding: 4px;
}
table.tablesorter thead tr .header {
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}
table.tablesorter tbody td {
	padding: 4px;
	vertical-align: top;
}
table.tablesorter .header .ui-icon {
	display: block;
	float: right;
}

/* This allows you to use ui-state-default as the zebra stripe color */
table.tablesorter tr.ui-state-default {
	background-image: url();
}
/* UI hover and active states make the font normal and the table resizes, this fixes it */
table.tablesorter th.header {
	font-weight: bold !important;
}

/* filter widget */
table.tablesorter thead input.filter {
	width: 90%;
}
table.tablesorter thead tr.filters, table.tablesorter thead tr.filters td {
	text-align: center;
}