/* jQuery UI Theme */
table.tablesorter {
	font-family: arial;
	margin: 10px 0pt 15px;
	font-size: 8pt;
	width: 100%;
	text-align: left;
	padding: 5px;
}
table.tablesorter thead tr th,
table.tablesorter tfoot tr th {
	border-collapse: collapse;
	font-size: 8pt;
	padding: 4px;
}
table.tablesorter thead tr th {
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
	white-space: normal;
	/* UI hover and active states make the font normal and the table resizes, this fixes it */
	font-weight: bold !important;
}
table.tablesorter thead tr th .tablesorter-inner {
	position: relative;
	padding-right: 20px; /* wider than the icon */
}
table.tablesorter thead tr th .ui-icon {
	position: absolute;
	right: 3px;
	top: 50%;
	margin-top: -8px; /* half the icon height; older IE doesn't like this */
}

table.tablesorter tbody td {
	padding: 4px;
	vertical-align: top;
}
/* This allows you to use ui-state-default as the zebra stripe color */
table.tablesorter tr.ui-state-default {
	background-image: url();
}

/* filter widget */
table.tablesorter thead tr.tablesorter-filter input.tablesorter-filter {
	width: 95%;
	height: inherit;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
table.tablesorter thead tr.tablesorter-filter,
table.tablesorter thead tr.tablesorter-filter td {
	text-align: center;
}
/* optional disabled input styling */ 
table.tablesorter thead tr.tablesorter-filter input.tablesorter-filter.disabled {
	opacity: 0.5;
	filter: alpha(opacity=50);
}