/* Blue Theme */
table.tablesorter {
	font-family: arial;
	background-color: #cdcdcd;
	margin: 10px 0 15px;
	font-size: 11px;
	width: 100%;
	text-align: left;
	border-spacing: 0;
}
table.tablesorter,
table.tablesorter th,
table.tablesorter tr.tablesorter-stickyHeader th,
table.tablesorter td {
	border: #cdcdcd 1px solid;
}

table.tablesorter thead tr th,
tr.tablesorter-stickyHeader th,
table.tablesorter tfoot tr th {
	background-color: #e6eeee;
	border-collapse: collapse;
	font-size: 12px;
	padding: 4px 20px 4px 4px;
}
table.tablesorter thead tr .tablesorter-header,
tr.tablesorter-stickyHeader .tablesorter-header {
	background-image: url(black-bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}
table.tablesorter tbody td {
	color: #3d3d3d;
	padding: 4px;
	background-color: #fff;
	vertical-align: top;
}
table.tablesorter thead tr .headerSortUp,
table.tablesorter thead tr .tablesorter-headerSortUp {
	background-color: #8dbdd8;
	background-image: url(black-asc.gif);
}
table.tablesorter thead tr .headerSortDown,
table.tablesorter thead tr .tablesorter-headerSortDown {
	background-color: #8dbdd8;
	background-image: url(black-desc.gif);
}

/* Zebra Widget - row alternating colors */
table.tablesorter tbody tr.odd td {
	background-color: #f0f0ff;
}
table.tablesorter tbody tr.even td {
	background-color: #fff;
}

/* Column Widget - column sort colors */
table.tablesorter tbody td.primary, table.tablesorter tbody tr.odd td.primary {
	background-color: #c0c0ff;
}
table.tablesorter tbody tr.even td.primary {
	background-color: #e8e8ff;
}

table.tablesorter tbody td.secondary, table.tablesorter tbody tr.odd td.secondary {
	background-color: #d6d6ff;
}
table.tablesorter tbody tr.even td.secondary {
	background-color: #e8e8ff;
}

table.tablesorter tbody td.tertiary, table.tablesorter tbody tr.odd td.tertiary {
	background-color: #e5e5ff;
}
table.tablesorter tbody tr.even td.tertiary {
	background-color: #f8f8ff;
}

/* filter widget */
table.tablesorter thead tr.tablesorter-filter input.tablesorter-filter {
	width: 95%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
table.tablesorter thead tr.tablesorter-filter, table.tablesorter thead tr.tablesorter-filter td {
	text-align: center;
	background: #fff;
}
/* optional disabled input styling */ 
table.tablesorter thead tr.tablesorter-filter input.tablesorter-filter.disabled {
	opacity: 0.5;
	filter: alpha(opacity=50);
}