/* Blue Theme */
table.tablesorter {
	font-family: arial;
	background-color: #cdcdcd;
	margin: 10px 0 15px;
	font-size: 11px;
	width: 100%;
	text-align: left;
	border-spacing: 0;
}
table.tablesorter,
table.tablesorter th,
table.tablesorter td {
	background-color: #e6eeee;
	border: #cdcdcd 1px solid;
}

table.tablesorter th {
	border-collapse: collapse;
	font-size: 12px;
	padding: 4px;
}
table.tablesorter .header,
table.tablesorter .tablesorter-header {
	/* black double arrow */
	background-image: url(data:image/gif;base64,R0lGODlhFQAJAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAkAAAIXjI+AywnaYnhUMoqt3gZXPmVg94yJVQAAOw==);
	/* white double arrow */
	/* background-image: url(data:image/gif;base64,R0lGODlhFQAJAIAAAP///////yH5BAEAAAEALAAAAAAVAAkAAAIXjI+AywnaYnhUMoqt3gZXPmVg94yJVQAAOw==); */
	/* image */
	/* background-image: url(black-bg.gif); */
	background-repeat: no-repeat;
	background-position: center right;
	padding: 4px 20px 4px 4px;
	cursor: pointer;
}
table.tablesorter tbody td {
	color: #3d3d3d;
	padding: 4px;
	background-color: #fff;
	vertical-align: top;
}
table.tablesorter th.headerSortUp,
table.tablesorter th.tablesorter-headerSortUp {
	background-color: #8dbdd8;
	/* black asc arrow */
	background-image: url(data:image/gif;base64,R0lGODlhFQAEAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAQAAAINjB+gC+jP2ptn0WskLQA7);
	/* white asc arrow */
	/* background-image: url(data:image/gif;base64,R0lGODlhFQAEAIAAAP///////yH5BAEAAAEALAAAAAAVAAQAAAINjB+gC+jP2ptn0WskLQA7); */
	/* image */
	/* background-image: url(black-asc.gif); */
}
table.tablesorter th.headerSortDown,
table.tablesorter th.tablesorter-headerSortDown {
	background-color: #8dbdd8;
	/* black desc arrow */
	background-image: url(data:image/gif;base64,R0lGODlhFQAEAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAQAAAINjI8Bya2wnINUMopZAQA7);
	/* white desc arrow */
	/* background-image: url(data:image/gif;base64,R0lGODlhFQAEAIAAAP///////yH5BAEAAAEALAAAAAAVAAQAAAINjI8Bya2wnINUMopZAQA7); */
	/* image */
	/* background-image: url(black-desc.gif); */
}

/* Zebra Widget - row alternating colors */
table.tablesorter tr.odd td {
	background-color: #f0f0ff;
}
table.tablesorter tr.even td {
	background-color: #fff;
}

/* Column Widget - column sort colors */
table.tablesorter td.primary, table.tablesorter tr.odd td.primary {
	background-color: #c0c0ff;
}
table.tablesorter tr.even td.primary {
	background-color: #e8e8ff;
}

table.tablesorter td.secondary, table.tablesorter tr.odd td.secondary {
	background-color: #d6d6ff;
}
table.tablesorter tr.even td.secondary {
	background-color: #e8e8ff;
}

table.tablesorter td.tertiary, table.tablesorter tr.odd td.tertiary {
	background-color: #e5e5ff;
}
table.tablesorter tr.even td.tertiary {
	background-color: #f8f8ff;
}

/* filter widget */
table.tablesorter input.tablesorter-filter {
	width: 95%;
	height: inherit;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
table.tablesorter tr.tablesorter-filter,
table.tablesorter tr.tablesorter-filter td {
	text-align: center;
	background: #fff;
}
/* optional disabled input styling */ 
table.tablesorter input.tablesorter-filter.disabled {
	opacity: 0.5;
	filter: alpha(opacity=50);
}