/*
===============================================================================
Chili is the jQuery code highlighter plugin
...............................................................................
                                               Copyright 2007 / Andrea Ercolino
-------------------------------------------------------------------------------
LICENSE: http://www.opensource.org/licenses/mit-license.php
WEBSITE: http://noteslog.com/chili/
===============================================================================
*/

.cplusplus .mlcom    { color: #4040c2; }
.cplusplus .com      { color: green; }
.cplusplus .string   { color: teal; }
.cplusplus .keyword  { color: navy; font-weight: bold; }
.cplusplus .datatype { color: blue; }
.cplusplus .preproc  { color: red; }
.cplusplus .number   { color: red; }
