/*
===============================================================================
Chili is the jQuery code highlighter plugin
...............................................................................
                                               Copyright 2007 / Andrea Ercolino
-------------------------------------------------------------------------------
LICENSE: http://www.opensource.org/licenses/mit-license.php
WEBSITE: http://noteslog.com/chili/
===============================================================================
*/

.csharp .mlcom    { color: #4040c2; }
.csharp .com      { color: green; }
.csharp .string   { color: teal; }
.csharp .keyword  { color: navy; font-weight: bold; }
.csharp .preproc  { color: red; }
.csharp .number   { color: red; }
