/*
===============================================================================
Chili is the jQuery code highlighter plugin
...............................................................................
                                               Copyright 2007 / Andrea Ercolino
-------------------------------------------------------------------------------
LICENSE: http://www.opensource.org/licenses/mit-license.php
WEBSITE: http://noteslog.com/chili/
===============================================================================
*/

.java .mlcom   { color: #4040c2; }
.java .com     { color: green; }
.java .string  { color: teal; }
.java .meta    { color: red; }
.java .keyword { color: navy; font-weight: bold; }
.java .number  { color: red; }
