/*
===============================================================================
Chili is the jQuery code highlighter plugin
...............................................................................
                                               Copyright 2007 / Andrea Ercolino
-------------------------------------------------------------------------------
LICENSE: http://www.opensource.org/licenses/mit-license.php
WEBSITE: http://noteslog.com/chili/
===============================================================================
*/

.javascript .mlcom    { color: #4040c2; }
.javascript .com      { color: green; }
.javascript .regexp   { color: maroon; }
.javascript .string   { color: teal; }
.javascript .keywords { color: navy; font-weight: bold; }
.javascript .global   { color: blue; }
.javascript .numbers  { color: red; }
