/*
===============================================================================
Chili is the jQuery code highlighter plugin
...............................................................................
                                               Copyright 2007 / Andrea Ercolino
-------------------------------------------------------------------------------
LICENSE: http://www.opensource.org/licenses/mit-license.php
WEBSITE: http://noteslog.com/chili/
===============================================================================
*/

.lotusscript .mlcom	    { color: #4040c2; }
.lotusscript .com       { color: green; }
.lotusscript .mlstr     { color: red; }
.lotusscript .str       { color: teal; }
.lotusscript .keyd      { color: fuchsia; }
.lotusscript .keyw      { color: maroon; font-weight: bold; }
.lotusscript .directive { color: #5f5f5f; }
.lotusscript .notes     { color: navy; }
.lotusscript .notesui   { color: purple; }
