/*
===============================================================================
Chili is the jQuery code highlighter plugin
...............................................................................
                                               Copyright 2007 / Andrea Ercolino
-------------------------------------------------------------------------------
LICENSE: http://www.opensource.org/licenses/mit-license.php
WEBSITE: http://noteslog.com/chili/
===============================================================================
*/

.mysql .function  { color: #e17100; }
.mysql .keyword   { color: navy; font-weight: bold; }
.mysql .mlcom     { color: gray; }
.mysql .com       { color: green; }
.mysql .number    { color: red; }
.mysql .hexnum    { color: red; font-weight: bold; }
.mysql .string    { color: purple; }
.mysql .quid      { color: fuchsia; }
.mysql .id        { color: maroon; }
.mysql .value     { color: gray; font-weight: bold; }
.mysql .variable  { color: #4040c2; }
