/*
===============================================================================
Chili is the jQuery code highlighter plugin
...............................................................................
                                               Copyright 2007 / Andrea Ercolino
-------------------------------------------------------------------------------
LICENSE: http://www.opensource.org/licenses/mit-license.php
WEBSITE: http://noteslog.com/chili/
===============================================================================
*/

.php .com       { color: green; }
.php .const1    { color: red; }
.php .const2    { color: red; }
.php .func      { color: #e17100; }
.php .global    { color: red; }
.php .keyword   { color: navy; font-weight: bold; }
.php .mlcom     { color: gray; }
.php .name      { color: maroon; }
.php .number    { color: red; }
.php .string1   { color: purple; }
.php .string2   { color: fuchsia; }
.php .value     { color: gray; font-weight: bold; }
.php .variable  { color: #4040c2; }
